**/node_modules/
**/node_modules/**
react-native-testernest/**/node_modules/**
node_modules/
**/.gradle/
.gradle/
**/.idea/
.idea/
**/.vscode/
**/build/
build/
**/out/
**/dist/
**/.DS_Store
**/*.iml
*.iml
**/app/build/
**/testernest-*/build/
**/sample-*/build/
local.properties
*.keystore
*.jks
*.pem
*.txt
_evidence/
/captures/
.externalNativeBuild/
.cxx/
react-native-testernest/**/android/.cxx/
react-native-testernest/**/android/.gradle/
react-native-testernest/**/android/build/
**/Library/
**/Temp/
**/Obj/
**/Build/
**/Builds/
**/Logs/
**/UserSettings/
unity-testernest-package/Library/
unity-testernest-package/Temp/
unity-testernest-package/Logs/
unity-testernest-package/Obj/
**/*.csproj
**/*.sln
**/*.unitypackage
