**/node_modules/
**/node_modules/**
react-native-testernest/**/node_modules/**
**/.gradle/
**/.idea/
**/.vscode/
**/build/
**/out/
**/dist/
**/.DS_Store
**/*.iml
**/app/build/
**/testernest-*/build/
**/sample-*/build/
local.properties
*.keystore
*.jks
*.pem
/captures/
.externalNativeBuild/
.cxx/
**/Library/
**/Temp/
**/Obj/
**/Build/
**/Builds/
**/Logs/
**/UserSettings/
**/*.csproj
**/*.sln
**/*.unitypackage
